body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shapes {
  display: flex;
  align-items: center;
}

.smallShape {
  width: 10vw;
  height: 10vw;
  cursor: pointer;
  margin: 2vw;
}

.bigShape {
  width: 40vw;
  height: 40vw;
  cursor: pointer;
  margin: 4vw;
}

@media screen and (max-width: 600px) {
  .bigShape {
    width: 75vw;
    height: 75vw;
  }
  .smallShape {
    width: 25vw;
    height: 25vw;
  }
}

@-moz-document url-prefix() {
  .smallShape {
    width: 20vw;
    height: 20vw;
  }

  .bigShape {
    width: 70vw;
    height: 70vw;
  }

  @media screen and (max-width: 600px) {
    .bigShape {
      width: 90vw;
      height: 90vw;
    }
    .smallShape {
      width: 30vw;
      height: 30vw;
    }
  }
}

.rhombus {
  background-color: green;
  transform: rotate(45deg) scale(0.8);
}

.square {
  background-color: blue;
}

.rhombus {
  background-color: green;
  transform: rotate(45deg) scale(0.8);
}

.circle {
  background-color: red;
  border-radius: 50%;
}

.triangle {
  background-color: yellow;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}
